@import url(https://fonts.googleapis.com/css?family=Lato);
html{
    height: 100%
}
body{
    font-family: 'Lato';
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    background: rgb(195, 195, 227);
}

h1{
    text-align: center;
    margin-top: 70px;
    color: white;
}

h2{
}

.location{
    text-align: center;
    margin-top: 40px;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://images.pexels.com/photos/885839/pexels-photo-885839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')
    center top no-repeat;
    /*display: block;*/
    background-size: cover;
    height: 785px;
    width: 100%;
    /*position: relative; */
    border-radius: 25px;
}

form{
    max-width: 75%;
}

.innerForm{ /*form has default block display */
    display: flex;
    align-items: center;

}

input{
    flex: auto;
    background: rgba(255,255,255,0.4);
    border: none;
    /*position: relative;
    /*display: block;*/
    outline: none;
    width: 400px;
    height: 30p;
    top: 250px;
    /*margin: 0 auto;*/
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    }
    ::-webkit-input-placeholder { color: #666;} 
    :-moz-placeholder { color: #666; }
    ::-moz-placeholder { color: #666; }
    :-ms-input-placeholder { color: #666;
}

button{
    flex: auto;
    background: rgba(255,255,255,0.4);
    border: none;
    /*position: relative;
    /*display: block;*/
    outline: none;
    width: 50px;
    height: 30p;
    top: 250px;
    /*margin: 0 auto;*/
    padding: 10px;
}

button:hover {
    background: rgb(195, 195, 227);; /* Change the button color on hover */
}

button:visited {
    background: rgb(203, 195, 227);
}


.block, .display{
    flex: 0 0 60%;
}

.outerBox{
    display: flex;
    flex-direction: column;
    padding: 30px; 
    gap: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(126, 126, 126);
}

.outerbox2{
    display: flex;
    flex-direction: horizontal;
    gap: 25px;
    background: white;

}

.todayBox{
    flex: 1;
    display: flex;
    gap: 25px;
    /*border: 2px solid gray;*/
    padding: 30px;
    margin-bottom: 25px;
    background: white;
    border-radius: 10px;

    -moz-box-shadow: 0 0 25px rgb(10, 1, 36);
    -webkit-box-shadow: 0 0 25px #cccccc8e;
    box-shadow: 0 0 25px #cccccc8e;
}

.otherBox{
    padding: 20px;
    background: white;
    border-radius: 10px;

    -moz-box-shadow: 10px 10px 25px #cccccc66;
    -webkit-box-shadow: 0 0 25px #cccccc66;
    box-shadow: 0 0 25px #cccccc66;
}

.rightBox, .leftBox{
    flex: 1;
}
.display{
    flex: 1;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateBox{
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 15px;
}
